.button-start {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.playing-field {
    width: 700px;
    height: 700px;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-image: url("images/1-step-squere.svg");
    background-size: 20px;
}

#snakeHead {
    width: 20px;
    height: 20px;
    bottom: 200px;
    left: 300px;
    background-color: plum;
    position: absolute;
}

.snake-segment {
    width: 20px;
    height: 20px;
    background-color: plum;
    position: absolute;
}

#snake-segment1 {
    bottom: 220px;
    left: 300px;
}

#snake-segment2 {
    bottom: 240px;
    left: 300px;
}

.berry {
    width: 20px;
    height: 20px;
    bottom: 250px;
    left: 160px;
    background-color: rgb(199, 214, 32);
    position: absolute;
}
